

:root{
    --main-color: #5096FF;
    --secondry-color: #838383;
    --main-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

.main-title{
    text-align: center;
}

@media (max-width: 768px) {
    .main-title{
        font-size: 20px;
    }
}

.main-desc{
    max-width: 440px;
    text-align: center;
    color: var(--secondry-color);
    margin: 10px auto 100px;
}

@media (max-width: 768px) {
    .main-desc{
        max-width: 360px;
    }
}

@media (max-width: 768px) {
    p{
        font-size: 14px;
    }
}

.container{
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

@media (min-width: 768px) {
    .container{
        width: 750px;
    }
}
@media (min-width: 990px) {
    .container{
        width: 980px;
    }
}
@media (min-width: 1200px) {
    .container{
        width: 1170px;
    }
}
@media (min-width: 1440px) {
    .container{
        width: 1400px;
    }
}


body{
    direction: rtl;
    font-family: 'Cairo', sans-serif;
}

header{
    position: relative;
}

header{
    height: 78px;
}

header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 15px;
}

header .logo img{
    width: 70px;
}

header .nav{
    display: flex;
    list-style: none;
    gap: 50px;
}

@media (max-width: 990px) {
    header .nav{
        display: flex;
        flex-direction: column;
        position: absolute;
        left: 0;
        top: 150%;
        gap: 30px;
        background-color: rgba(0, 0, 0, 0.2);
        width: 100%;
        align-items: center;
        height: 0;
        overflow: hidden;
        transition: 0.4s;
    }
    header .nav.active{
        height: 255px;
        padding: 20px;
    }
}


header .nav a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.5);
    font-weight: 600;
    position: relative;
    transition: 0.4s;
}

header .nav a::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: var(--main-color);
    width: 0;
    height: 2px;
    transition: 0.4s;
}

header .nav .active-link a{
    color: rgba(0, 0, 0, 1);
} 

header .nav .active-link a::after{
    width: 100%;
} 

header .nav a:hover {
    color: rgba(0, 0, 0, 1);
}

header .nav a:hover::after{
    width: 100%;
}

header .buttons{
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: space-between;
}

@media (max-width: 990px) {
    header .buttons{
        display: none !important;
    }
}

header .buttons a{
    text-decoration: none;
    font-weight: 600;
}

header .buttons a:first-child{
    background-color: var(--main-color);
    color: #fff;
    padding: 5px 20px;
    border-radius: 6px;
    box-shadow: var(--main-shadow);
}

header .buttons a:last-child{
    color: var(--main-color);
}

header .bar{
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    display: none;
}

@media (max-width: 990px) {
    header .bar{
        display: flex;
    }
}

header .bar span{
    width: 20px;
    height: 2px;
    background-color: var(--main-color);
}

header .bar span.first{
    transform: rotate(230deg) translateY(-4px);
}
header .bar span.mid{
    display: none;
}
header .bar span.last{
    transform: rotate(-230deg) translateY(5px);
}

.hero-section{
    height: calc(100vh - 78px);
}

.hero-section .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 70px;
    height: 100%;
}

@media (max-width: 1200px) {
    .hero-section .container{
        flex-direction: column-reverse;
        gap: 40px;
        padding-top: 30px;
        padding-bottom: 30px;
        justify-content: center;
    }
}

.hero-section .img img{
    max-width: 100%;
}

.hero-section .info {
    display: flex;
    gap: 30px;
    flex-direction: column;
}

.hero-section .info h1{
    font-size: 56px;
    max-width: 480px;
}

@media (max-width: 1440px) {
    .hero-section .info h1{
        font-size: 40px;
    }
}

@media (max-width: 1200px) {
    .hero-section .info h1{
        max-width: 700px;
        text-align: center;
        margin: auto;
        font-size: 28px;
    }
}

.hero-section .info p{
    color: var(--secondry-color);
    max-width: 500px;
}

@media (max-width: 1200px) {
    .hero-section .info p{
        max-width: 800px;
        text-align: center;
        font-size: 14px;
    }
}

.hero-section .info .btn{
    padding: 5px 25px;
    color: #fff;
    background-color: var(--main-color);
    text-decoration: none;
    width: fit-content;
    border-radius: 6px;
    box-shadow: var(--main-shadow);
}

@media (max-width: 1200px) {
    .hero-section .info .btn{
        margin: auto;
    }
}

.features {
    background-color: #eeee;
    padding-top: 80px;
    padding-bottom: 80px;
}

.features .container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 40px;
    text-align: center;
}

@media (max-width: 768px) {
    .features .container{
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }
}

.features .main-title{
    margin-bottom: 80px;
}

.features .card{
    background-color: #fff;
    padding: 50px;
    position: relative;
}

.features .card::after,
.features .card::before{
    content: "";
    position: absolute;
    height: 3px;
    width: 30%;
    background-color: var(--main-color);
    transition: 0.4s;
}

.features .card::after{
    left: 0;
    top: 0;
}

.features .card::before{
    right: 0;
    bottom: 0;
}

.features .card:hover::after,
.features .card:hover::before{
    width: 100%;
}

.features .card .num{
    width: 60px;
    height: 60px;
    font-size: 24px;
    border: 2px solid var(--main-color);
    color: var(--main-color);
    border-radius: 50%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.features .card h3{
    font-size: 20px;
    margin: 20px 0 10px;
}

.features .card p{
    color: var(--secondry-color);
}


.prices {
    padding-top: 80px;
    padding-bottom: 80px;
}

.prices .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    gap: 40px;
    text-align: center;
}

@media (max-width: 768px) {
    .prices .container{
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }
}

.prices .box{
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.12);
    border-radius: 6px;
}

.prices .box:first-child{
    border: 2px solid #CDCDCD;
}

.prices .box:last-child{
    border: 2px solid #5096FF;
}

.prices .box .head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 120px;
    padding: 30px;
}

.prices .box:first-child p{
    color: var(--secondry-color);
}

.prices .box:last-child{
    color: var(--main-color);
}

.prices .box .head h4{
    font-size: 20px;
}

.prices .box .head h4 span{
    font-size: 32px;
}

.prices .box ul li{
    display: flex;
    align-items: center;
    padding: 20px 30px;
}

.prices .box:first-child ul li {
    border-top: 1px solid #CDCDCD;
}

.prices .box:last-child ul li {
    border-top: 1px solid var(--main-color);
}

.prices .box ul li i{
    width: 24px;
    margin-left: 10px;
}

.prices .box:last-child ul li i{
    color: var(--main-color);
}

.prices .box:first-child ul li i{
    color: var(--secondry-color);
}

.prices .box .footer{
    padding: 30px;
    text-align: left;
}

.prices .box .footer a{
    text-decoration: none;
    padding: 5px 25px;
    border-radius: 6px;
    font-weight: 600;
    box-shadow: var(--main-shadow);
}
@media (max-width: 768px) {
    .prices .box .footer a{
        font-size: 14px;
    }
}

.prices .box:first-child .footer a{
    border: 2px solid var(--main-color);
    color: var(--main-color);
}

.prices .box:last-child .footer a{
    background-color: var(--main-color);
    color: #fff;
}

.about-us{
    padding-top: 80px;
    padding-bottom: 80px;
    background-color: #eeee;
}

.about-us .container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 40px;
    text-align: center;
}

@media (max-width: 768px) {
    .about-us .container{
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }
}

.about-us .box{
    background-color: #fff;
    box-shadow: var(--main-shadow);
    color: var(--main-color);
    padding: 30px 50px;
}

.about-us .box .num{
    font-size: 32px;
    font-weight: 600;
}

.about-us .box h4{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
}


.footer{
    padding-top: 50px;
    padding-bottom: 50px;
}

.footer .container{
    display: flex;
    flex-wrap: wrap;
}

@media (max-width: 990px) {
    .footer .container{
        flex-direction: column;
        gap: 30px;
    }
}

.footer .column .logo img{
    width: 70px;
    margin-bottom: 10px;
}

.footer .column:not(:last-child){
    padding-left: 80px;
}

.footer .column:not(:first-child){
    border-right: 1px solid #CDCDCD;
}

.footer .column p{
    color: var(--secondry-color);
}

.footer .column:first-child p{
    width: 300px;
}

.footer .column div {
    display: flex;
    gap: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    align-items: center;
} 

.footer .column div i{
    font-size: 24px;
    color: var(--main-color);
}

.footer .column div p{
    max-width: 500px;
}

.footer .column:last-child{
    padding-right: 120px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
}

@media (max-width: 1200px) {
    .footer .column:last-child{
        padding-right: 20px;
    }
}

@media (max-width: 990px) {
    .footer .column:last-child{
        border-right: 1px solid #CDCDCD;
    }
}

.footer .column:last-child a{
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-bottom: 1px solid #CDCDCD;
    padding: 10px 0;
    width: fit-content;
}

.footer .column:last-child a img {
    width: 24px;
}

.copyright{
    margin: 10px auto;
    width: fit-content;
    color: var(--secondry-color);
}

.whatsapp{
    display: none;
}